/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.sketches
/horntell-*.gem
Vagrantfile
savestate
.Vagrantfile.swp
.vagrant
webhook.rb
test.rb
text.txt
